parameters:
  level: 5
  phpVersion: 80300
  paths:
    - index.php
    - bundle-installer.php
    - Core/
  excludePaths:
    - Core/admin-ui.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: classConstant.unused
